p {
	color: navy;
}

p.info {
	font-size: small;
	background-color:#dfdfdf;
}

h1 {
	color:White;
	text-shadow: #7f7fcf 1px 0 10px;
}

h2 {
	font-family: cursive;
	color:#3f3faf;
	background:linear-gradient(to right, White, #ffefaf);
	margin:5px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows:200px 200px;
    grid-gap: 10px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}
img.sign{
float: right;   /* 画像を右に浮かせる */

    width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;	
}